<div>
  <mat-horizontal-stepper [linear]="true" #stepper class="container-selection">
    <mat-step [stepControl]="userUrlGroup">
      <form [formGroup]="userUrlGroup">
        <ng-template matStepLabel>Ссылка на пользователя</ng-template>
        <mat-form-field class="url-text">
          <mat-label>URL</mat-label>
          <input
            matInput
            placeholder="https://vk.com/xxxxxxxxxxxx"
            formControlName="userUrlCtrl"
            required
          />
          <mat-icon matPrefix>link</mat-icon>
        </mat-form-field>
        <div class="select">
          <button
            mat-raised-button
            color="primary"
            matStepperNext
            (click)="select()"
            class="btn btn-small btn-select"
          >
            Далее
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step label="Группы">
      <form *ngIf="users.length > 0" class="user">
        <form>
          <img
            [src]="users[0].photo_100"
            alt="{{ users[0].first_name }} {{ users[0].last_name }}" class="photo-selection"
          />
        </form>
        <form>
          <a [href]="userUrlGroup.controls.userUrlCtrl.value" class="urlUser"
          >{{ users[0].first_name }} {{ users[0].last_name }}</a
          >
        </form>
      </form>

      <div class="info">
        <table mat-table [dataSource]="groups" class="groups" *ngIf="groups.length > 0">
          <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell>№</th>
            <td *matCellDef="let i = index" mat-cell>{{ i + 1 }}</td>
          </ng-container>

          <ng-container matColumnDef="photo">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let row" mat-cell>
              <img [src]="_group(row).photo_50" />
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell>Название</th>
            <td *matCellDef="let row" mat-cell>{{ _group(row).name }}</td>
          </ng-container>

          <tr *matHeaderRowDef="columnsGroup" mat-header-row></tr>
          <tr *matRowDef="let row; columns: columnsGroup" mat-row (click)="selectRow(row)"></tr>
        </table>

        <mat-card class="card-group" *ngIf="selectionElement">
          <mat-card-header>
            <mat-card-title>{{ selectionElement.name }}</mat-card-title>
            <mat-card-subtitle>Тематики группы - {{ selectionElement.topics }}</mat-card-subtitle>
          </mat-card-header>
          <img
            [src]="selectionElement.photo_200"
            class="card-group-photo"
            alt="{{ selectionElement.name }}"
          />
          <mat-card-content class="card-group-content">{{
            selectionElement.description
            }}</mat-card-content>
          <mat-card-actions class="btn-block">
            <button mat-raised-button color="primary" class="button btn btn-small">
              <a [href]="generateUrlGroup(selectionElement.screen_name)" class="url-button">
                Перейти в группу
              </a>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="btn-nav">
        <button
          mat-raised-button
          color="primary"
          matStepperPrevious
          class="back btn btn-small"
          *ngIf="groups.length > 0"
        >
          Назад
        </button>
        <button
          mat-raised-button
          color="primary"
          matStepperNext
          class="next btn btn-small"
          *ngIf="groups.length > 0"
          (click)="findCategories()"
        >
          Далее
        </button>
      </div>
      <mat-spinner *ngIf="groups.length === 0" mode="indeterminate" class="spinner"></mat-spinner>
    </mat-step>

    <mat-step label="Категории">
      <form *ngIf="users.length > 0" class="user">
        <form>
          <img
            [src]="users[0].photo_100"
            alt="{{ users[0].first_name }} {{ users[0].last_name }}" class="photo-selection"
          />
        </form>
        <form>
          <a [href]="userUrlGroup.controls.userUrlCtrl.value" class="urlUser"
          >{{ users[0].first_name }} {{ users[0].last_name }}</a
          >
        </form>
      </form>

      <table mat-table [dataSource]="categories" class="table table-selection" *ngIf="categories.length > 0">
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell class="cell-selection">Выбранная категория</th>
          <td *matCellDef="let row" mat-cell class="cell-selection">{{ _category(row).category.name }}</td>
        </ng-container>

        <ng-container matColumnDef="topics">
          <th *matHeaderCellDef mat-header-cell class="cell-selection">Побудившие тематики</th>
          <td *matCellDef="let row" mat-cell class="cell-selection">{{ _category(row).topics }}</td>
        </ng-container>

        <tr *matHeaderRowDef="columnsCategory" mat-header-row></tr>
        <tr *matRowDef="let row; columns: columnsCategory" mat-row></tr>
      </table>

      <div class="btn-nav">
        <button
          mat-raised-button
          color="primary"
          matStepperPrevious
          class="back btn btn-small"
          *ngIf="categories.length > 0"
        >
          Назад
        </button>
        <button
          mat-raised-button
          color="primary"
          matStepperNext
          class="next btn btn-small"
          *ngIf="categories.length > 0"
          (click)="findProducts()"
        >
          Далее
        </button>
      </div>
      <mat-spinner
        *ngIf="categories.length === 0"
        mode="indeterminate"
        class="spinner"
      ></mat-spinner>
    </mat-step>

    <mat-step label="Подарки">
      <form *ngIf="users.length > 0" class="user">
        <form>
          <img
            [src]="users[0].photo_100"
            alt="{{ users[0].first_name }} {{ users[0].last_name }}" class="photo-selection"
          />
        </form>
        <form>
          <a [href]="userUrlGroup.controls.userUrlCtrl.value" class="urlUser"
          >{{ users[0].first_name }} {{ users[0].last_name }}</a
          >
        </form>
      </form>

      <table mat-table [dataSource]="datasourceProduct" class="table table-gift-selection" *ngIf="products.length > 0">
        <ng-container matColumnDef="id" class="table-gift-selection-blocks">
          <th *matHeaderCellDef mat-header-cell class="cell-selection">Рейтинг</th>
          <td *matCellDef="let i = index" mat-cell class="cell-selection">
            <div *ngIf="i < initialSize">
              <mat-icon *ngFor="let k of [].constructor(5 - i)">star_rate</mat-icon>
            </div>
            <div *ngIf="i >= initialSize">
              <label>Выбран самостоятельно</label>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell class="cell-selection">Название</th>
          <td *matCellDef="let row" mat-cell class="cell-selection">{{ _product(row).name }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th *matHeaderCellDef mat-header-cell class="cell-selection">Описание</th>
          <td *matCellDef="let row" mat-cell class="cell-selection">{{ _product(row).description }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th *matHeaderCellDef mat-header-cell class="cell-selection">Цена</th>
          <td *matCellDef="let row" mat-cell class="cell-selection">{{ _product(row).price }}</td>
        </ng-container>

        <ng-container matColumnDef="catalogUrl">
          <th *matHeaderCellDef mat-header-cell class="cell-selection">Ссылка на каталог</th>
          <td *matCellDef="let row" mat-cell class="cell-selection">
            <button mat-raised-button color="primary" class="btn btn-small">
              <a [href]="_product(row).catalogUrl">В магазин</a>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="function">
          <th mat-header-cell *matHeaderCellDef class="cell-selection">Выбрать</th>
          <td mat-cell *matCellDef="let row" class="cell-selection">
            <mat-checkbox
              (click)="
                $event.stopPropagation(); selectProduct(_product(row), selection.isSelected(row))
              "
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              color="primary"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="columns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: columns" mat-row></tr>
      </table>

      <div class="btn-nav btn-nav-selection-components">
        <button
          mat-raised-button
          color="primary"
          matStepperPrevious
          class="btn btn-small"
          *ngIf="products.length > 0"
        >
          Назад
        </button>
        <button
          mat-raised-button
          color="primary"
          class="btn btn-small"
          *ngIf="products.length > 0"
          (click)="selectSelf()"
        >
          Выбери сам
        </button>
        <button
          mat-raised-button
          color="primary"
          matStepperNext
          class="btn btn-small"
          *ngIf="products.length > 0"
          (click)="save()"
        >
          Далее
        </button>
      </div>
      <mat-spinner *ngIf="products.length === 0" mode="indeterminate" class="spinner"></mat-spinner>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Конец</ng-template>
      <form class="end">
        <div class="gift-selection-text">Подарки подобраны и сохранены у тебя в профиле</div>
        <div class="btn-nav">
          <button mat-raised-button color="primary"  class="btn btn-small">
            <a href="selection">Заново</a>
          </button>
          <button mat-raised-button color="primary" class="btn btn-small" routerLink="/user">В профиль</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
