.select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.urlUser {
  color: black;
  text-decoration: none;
}
.url-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.table {
  width: 100%;
}
.button {
  left: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.back {
  flex-direction: column;
  align-items: center;
  display: inline-block;
  margin-right: 5px;
}
.next {
  left: 90%;
  display: inline-block;
  margin-right: 5px;
  flex-direction: column;
  align-items: center;
}
.spinner {
  position: absolute;
  left: 50%;
  top: 65%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.user {
  width: 100%;
  font-size: 22px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.info {
  display: flex;
  flex-direction: row;
}
.groups {
  width: 50%;
}
.card-group {
  width: 47%;
  top: 40%;
}
.card-group-photo {
  width: 100px;
  height: 100px;
  top: 1%;
  right: 1%;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.card-group-content {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.url-button {
  color: white;
  text-decoration: none;
}
.button-home {
  left: 2%;
  display: inline-block;
  margin-right: 5px;
  text-decoration-color: white;
}
.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.url {
  text-decoration: none;
}
.self {
  left: 40%;
  flex-direction: column;
  align-items: center;
  display: inline-block;
  margin-right: 5px;
}
.next-last {
  left: 80%;
  display: inline-block;
  margin-right: 5px;
  flex-direction: column;
  align-items: center;
}
