<mat-accordion *ngFor="let assortment of assortments">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ assortment.category.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <table
      mat-table
      [dataSource]="assortment.products"
      class="table"
      *ngIf="assortment.products.length > 0"
    >
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>Название</th>
        <td *matCellDef="let row" mat-cell>{{ _product(row).name }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th *matHeaderCellDef mat-header-cell>Цена</th>
        <td *matCellDef="let row" mat-cell>{{ _product(row).price }}</td>
      </ng-container>

      <ng-container matColumnDef="function">
        <th mat-header-cell *matHeaderCellDef>Выбрать</th>
        <td mat-cell *matCellDef="let row">
          <button mat-button [mat-dialog-close]="_product(row)" class="button">Выбрать</button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="columns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: columns" mat-row></tr>
    </table>
  </mat-expansion-panel>
</mat-accordion>
