<div class="container">
  <mat-toolbar color="primary" class="mat-toolbar">
    <button class="btn btn-selection" routerLink="/selection">
      Подобрать подарок
    </button>
    <img alt="Логотип" src="assets/img/logo.png" class="logo">
    <button mat-button class="btn btn-login" routerLink="/login" *ngIf="!isLoggedIn">
      Войти
    </button>

    <button mat-button class="btn btn-user" [mat-menu-trigger-for]="menu" *ngIf="isLoggedIn">
      {{user.firstName}} {{user.lastName}}
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu xPosition="before" #menu="matMenu">
      <button mat-menu-item routerLink="/user">Профиль</button>
      <button mat-menu-item (click)="logout()">Выйти</button>
    </mat-menu>

  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
