.gift-card {
  width: 190px;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-card-title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.gift-card-price {
  font-weight: 500;
}

.btn-block {
  display: flex;
  justify-content: center;
}

.btn-add {
  margin-bottom: 16px;
}
