.gift-card {
  width: 280px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-card-title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.gift-card-price {
  font-weight: 500;
}

.btn-block {
  display: flex;
  justify-content: center;
}

.btn-add {
  margin-bottom: 16px;
}

.photo-product {
  width: 100px;
  height: 80px;
  display: flex;
  margin-left: 20%;
  justify-content: center;
}
