<img src="assets/img/homepage.png" alt="Баннер" class="banner">
<h1 class="title">Мы знаем, что им точно понравится :)</h1>
<p class="text">Как часто нам дарили подарки, которые мы передаривали или которые просто пылились на полках, что бы никого не обидеть?
  Как правильно выбрать хороший подарок для своих близких?
  <br>Мы сталкиваемся с этим вопросом каждый раз перед праздниками.
  Если вы хотите услышать в ответ на подарок, что это именно то, о чем мечтали, то для этого нужно совсем немного.
  Не покупайте подарок на бегу. Лучше сделать это за неделю до события и обязательно учитывайте интересы получателя подарка.
  Чтобы не подарить очередной ненужный подарок, мы и сделали этот сервис!
  <br>
  <br>Как работает сервис?
  <br>
  <br>Все, что вам нужно - ссылка на страницу человека в vk.com. И помните, она обязательно должна быть открыта!
  Сервис подберет топ подарков, которые точно понравятся вашему другу, маме, коллеге :)</p>
