<img src="assets/img/homepage.png" alt="Баннер" class="banner">
<div class="text">А-а-а, у меня и так дел полно, ещё эти подарки! Может, сувенирами отделаться?
  <br>
  <br>
  Типичная проблема перед Новым годом, днём рождения и каким угодно праздником: нужно что-то дарить родным и друзьям, а что — непонятно.<br>
  <br>
  У вашего знакомого наверняка есть страничка «ВКонтакте» — этого достаточно, чтобы подобрать классный подарок :)
  <br>
  И нет, мы не предлагаем следить за лайками и репостами друга, пытаясь понять, на что это он намекает — всё это сделает GIVE GIFTS.
  <br>
  Всё, что нужно сделать, — ввести адрес профиля человека в соцсети «ВКонтакте» по этой кнопке:

  <button mat-flat-button class="btn btn-small btn-search" routerLink="/selection">Подобрать подарок</button>

Сервис изучит его страницу и выдаст перечень идей по интересующим его темам. В каталоге 2000 подарков — только оригинальные и полезные вещицы. Никаких керамических свинок и кружек со снежинками!
<br>
</div>
